@import '../../styles/root-variables.css';


.title {
    color: var(--gold);
}

@media (--screen-sm) {
    .title {
        color: var(--blue);
    }
}

@media (--screen-md) {
    .title {
        color: var(--gold);
    }
}

@media (--screen-lg) {
    .title {
        color: var(--blue);
    }
}

@media (--screen-xl) {
    .title {
        color: var(--gold);
    }
}
