@custom-media --screen-sm (min-width: 400px);
@custom-media --screen-md (min-width: 700px);
@custom-media --screen-lg (min-width: 1000px);
@custom-media --screen-xl (min-width: 1200px);

:root {
    --phthalo-green: #122c34;
    --st-patricks-blue: #224870;
    --bdazzled-blude: #2a4494;
    --carolina-blue: #4ea5d9;
    --medium-turquoise: #44cfcb;

    --main-text-color: var(--phthalo-green);
    --main-bg-color: white;
    --main-brand-color: var(--st-patricks-blue);
}
