@custom-media --screen-sm (min-width: 400px);
@custom-media --screen-md (min-width: 700px);
@custom-media --screen-lg (min-width: 1000px);
@custom-media --screen-xl (min-width: 1200px);

:root {
    --blue: #0e001a;
    --dark-grey: #707684;
    --light-grey: #a7b0c1;
    --gold: #97905c;

    --primary-text-color: var(--dark-grey);
    --secondary-text-color: var(--gold);

    --primary-bg-color: var(--blue);
    --secondary-bg-color: var(--light-grey);
}
